In [2]:
Ways to get new users data:
    
+  Logevents with API:
    + https://phabricator.wikimedia.org/source/tool-newusers/browse/master/app.py
+ database
    + dev testing with ssh-tunnel

SyntaxError: invalid syntax (<ipython-input-2-ae3e7f7cfb78>, line 1)

In [45]:
import os
import configparser
import pymysql
from sqlalchemy import create_engine
from datetime import datetime as dt
from datetime import timedelta as td
import pandas as pd

In [58]:
def load_con_from_config(config_file=None):
    if config_file == None:
        config_file = '../config/replica.my.cnf'
    cnf = configparser.ConfigParser()
    cnf.read_file(open(config_file, 'r'))
    os.environ['MYSQL_USERNAME'] = cnf.get('client','user').replace("'","")
    os.environ['MYSQL_PASSWORD'] = cnf.get('client','password').replace("'","")
    os.environ['MYSQL_HOST'] = 'localhost'
    os.environ['MYSQL_CATALOG'] = 'enwiki_p'

    constr = 'mysql+pymysql://{user}:{pwd}@{host}/{catalog}?charset=utf8'.format(user=os.environ['MYSQL_USERNAME'],
                                                          pwd=os.environ['MYSQL_PASSWORD'],
                                                          host=os.environ['MYSQL_HOST'],
                                                      catalog=os.environ['MYSQL_CATALOG'])
    con = create_engine(constr, encoding='utf-8')
    return con


wmfdate_fmt = '%Y%m%d%H%M%S'

def utf_8_decode(colstr):
    return coltsr.decode('utf-8')

def wmftimestamp(datestr):
    decoded = utf_8_decode(datestr)
    return dt.strptime(decoded, wmfdate_fmt)

In [60]:
def get_new_users(con, days=1):
    now = dt.utcnow()
    days_ago = now - td(days=days)
    days_ago_buffered = days_ago - td(hours=1)
    min_time = days_ago_buffered.strftime(wmfdate_fmt)
    new_user_query = f'''select user_id, user_name, user_registration, user_editcount from user where user_registration > {min_time} and user_editcount >= 3'''
    print(new_user_query)
    new_users = pd.read_sql(new_user_query, con)
    new_users['user_name'] = new_users['user_name'].apply(utf_8_decode)
    new_users['user_registration'] = new_users['user_registration'].apply(wmftimestamp)
    return new_users

In [ ]:
con = load_con_from_config()
new_users = get_new_users(con)

select user_id, user_name, user_registration, user_editcount from user where user_registration > 20181209132642 and user_editcount > 3

In [50]:
new_users.shape

(487, 16)

In [53]:
new_users.head()

,user_id,user_name,user_real_name,user_password,user_newpassword,user_email,user_options,user_touched,user_token,user_email_authenticated,user_email_token,user_email_token_expires,user_registration,user_newpass_time,user_editcount,user_password_expires
0,35334404,Alexalex123123,b'',None,None,None,None,None,None,None,None,None,b'20181208093607',None,11,None
1,35334464,Sagarzilpe,b'',None,None,None,None,None,None,None,None,None,b'20181208094915',None,5,None
2,35334487,Oxfordheart,b'',None,None,None,None,None,None,None,None,None,b'20181208095337',None,6,None
3,35334490,Jhon maria,b'',None,None,None,None,None,None,None,None,None,b'20181208095411',None,14,None
4,35334510,Safa2018,b'',None,None,None,None,None,None,None,None,None,b'20181208095812',None,6,None